<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "css/style-welcome.css" rel="stylesheet"/>
    <title>Welcome</title>
</head>
<body>
    <div class="nav-bar">
    <ul>
        <li>Home</li>
        <li>Admin</li>
        <li>Profile</li>
        <li>Logout</li>
    </ul>
    </div> 
    </br>
    </br>
    </br>
    <input type="hidden" name="admin-button" id="admin-button" value="<%=adminlink%>"/>
    <div class="login">
        <h1>Welcome <%=firstname%> <%=lastname%></h1>
        <form action=admin id="admintoggle" method="GET">
            <button type="admin" class="btn btn-primary btn-block btn-large">Admin</button>
        </form>
        <form action=editprofile method="GET">
            <button type="edit-profile" class="btn btn-primary btn-block btn-large">Edit Profile</button>
        </form>
        <form action="logout" method="GET">  
            <button type="logout" class="btn btn-primary btn-block btn-large">Log Out</button>
        </form> 
        <p>
            <%=message%>
        </p>     
        </div>  
    </div>         
    </form>
    </div>
</div>

<script>
    let isadmin = document.getElementById('admin-button').value
    if(isadmin === 'Y') {
        document.getElementById('admintoggle').style.display = 'block'
    } else {
        document.getElementById('admintoggle').style.display = 'none'
    }
    </script>
</body>
</html>